:root{
    --noto-sans-font: "Noto Sans";
    --montserrat-font: "Monteserrat";
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

#welcome-image-container{
    width: 40vw;
    height: 100%;
    display: flex;
}

#welcome-image{
    height: 100%;
    width: 100%;
    justify-self: center;
    align-self: center;
}

#welcome-form-container{
    width: 60vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#welcome-message {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#welcome-message > p {
    font-family: var(--noto-sans-font);
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 8rem;
}

.gray-background {
    flex: 1 1 auto;
    background-color: rgb(236, 231, 231);
}

#form-input {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 33%;
    box-shadow: 0 1px 6px 0px black;
    position: relative;
    z-index: 1;
    overflow: auto;
}

form {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-evenly;
    padding-left: 5%;
    gap: 5%
}

form > p{
    font-family: var(--montserrat-font);
    font-weight: bold;
    width: 100%;
}

.input-label-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    width: 40%;   
    min-width: 200px;
}

button {
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 0.5rem;
    background-color: #596D48;
    color: white;
    font-weight: bold;
}

input:focus{
    border: 1px solid blue;
}

input:user-invalid{
    border: 2px solid red;
}

input:user-valid{
    border: 2px solid green;
}